/* navigation */

#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding:0px 10px;
    padding-bottom: 10px;
}
/* home section */
#home{
    height:310px;
    padding:2px 10px;
}
#home::before{
    height:370px;
    padding:2px 2px;
}

/* #home h1{
    font-size: 20px;
} */
#home p{
 font-size: 10px;
}
       
/* service container  */
#services{
 flex-direction: column;
 margin:2px;
}
#services.box{
    padding:10px;
}
#services .box img{
    height:70px;
  
} 

/* client section  */
.clients{
   flex-wrap: wrap;
}
.clients img{
    height: 50px;
    padding: 8px 26px;
}

/* contact section  */

.contact-box form{
    width:65%;
}
/* footer */

/* utility class */

.h-primary{
    font-size: 25px;
    padding:10px;
}

.btn{
    font-size: 13px;
    padding:4px 18px;
}
 
